@model YetenekPusulasi.Models.ScenarioViewModels.ScenarioViewModel
@{
    ViewData["Title"] = "Senaryo Sil";
}

<h1>@ViewData["Title"]</h1>

<h3>Bu senaryoyu silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>Senaryo ID: @Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Metin (Önizleme)
        </dt>
        <dd class="col-sm-9">
            @(Model.Text.Length > 150 ? Model.Text.Substring(0, 150) + "..." : Model.Text)
        </dd>
        <dt class="col-sm-3">
            Hedef Yetenek
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TargetSkill)
        </dd>
        <dt class="col-sm-3">
            Kategori
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ScenarioCategoryName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">İptal Et</a>
    </form>
</div>